{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}



<div class="container" style="margin-top:50px;">
  <div class="row" style="margin-top:30px;margin-bottom:30px;">
    <div class="col-md-3">
      <a href="https://nrhm-mis.nic.in/SitePages/Home.aspx">
        <div class="card1" id="subcard">
          <div>
             <p class="colorboxesheading">
               <span>HMIS</span>
              </p>
             <hr>
             <center><img class=" img-fluid" src="{% static "image1/hims.jpg" %}" alt="card image" height="100px" width="100px"></center>
          </div>
      </div>
     </a>
    </div>
    <div class="col-md-3">
   <a href="https://rch.nhm.gov.in">
      <div class="card2" id="subcard">
        <div>
           <p class="colorboxesheading">
             <span>RCH</span>
           </p>
           <hr>
           <center><img class=" img-fluid" src="{% static "image1/r.png" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
    <a href="https://nin.nhp.gov.in">
      <div class="card3" id="subcard">
        <div>
           <p class="colorboxesheading">
             <span>NIN</span>
           </p>
           <hr>
           <center><img class=" img-fluid" src="{% static "image1/nhp.png" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
   <a href="https://sncuonline.org">
      <div class="card4" id="subcard">
        <div>
           <p class="colorboxesheading">
             <span>SNCU</span>
           </p>
           <hr>
            <center><img class=" img-fluid" src="{% static "image1/s.jpg" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
  </div>

  <div class="row" style="margin-top:20px;margin-bottom:90px;">
    <div class="col-md-3" id="subcard">
    <a href="https://jnksso.dcservices.in">
      <div class="card5">
        <div>
           <p class="colorboxesheading">
             <span>e-AUSHADHI</span>
           </p>
           <hr>
            <center><img class="img-fluid" src="{% static "image1/aush1.png" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
     <a href="">
      <div class="card6" id="subcard">
          <div>
             <p class="colorboxesheading">
               <span>NCD</span>
             </p>
             <hr>
              <center><img class=" img-fluid" src="{% static "image1/ncd.png" %}" alt="card image" height="100px" width="100px"></center>
          </div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
    <a href="http://nhm.gov.in/communitisation/asha/about-asha.html">
      <div class="card7" id="subcard">
        <div>
           <p class="colorboxesheading">
             <span>ASHA SOFT</span>
           </p>
           <hr>
            <center><img class=" img-fluid" src="{% static "image1/asha.png" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
    <a href="https://humdo.nhp.gov.in/">
      <div class="card8" id="subcard">
        <div>
           <p class="colorboxesheading">
             <span>PSMSA</span>
           </p>
           <hr>
            <center><img class=" img-fluid" src="{% static "image1/psmsa.jpg" %}" alt="card image" height="100px" width="100px"></center>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

{% endblock %}
