{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="container" style="margin-top:30px;">
  <a href="{% url "Keycards" %}" class="btn btn-info">Go Back</a><br/>
  <div class="row" style="margin-top:30px;">
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health1.png" %}" width="500px" height="500px"/><br/>
    </div>
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health5.png" %}" width="500px" height="500px"/><br/>    
    </div>

  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health3.png" %}" width="500px" height="500px"/><br/>
    </div>
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health4.png" %}" width="500px" height="500px"/><br/>
    </div>

  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health2.png" %}" width="500px" height="500px"/><br/>
    </div>
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health6.png" %}" width="500px" height="500px"/><br/>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
      <img src="{% static "mat_health/Mat_health7.png" %}" width="500px" height="500px"/><br/>
    </div>

  </div>

</div>

{% endblock %}
